#abody {
    background-color: rosybrown;
    width: 100%;
    height: 896px;
}
abody {
    width: 100%;
    height: 768px;
}
.bottom_bar {
    background-color: bisque;
    position: fixed;
    top: 786px;
    left: 0;
    right: 0;
    height: 110px;
}