#abody {
    width: 414px;
    height: 786p;
}
header {
    width: 100%;
    height: 40px;
    margin: 60px 0 0 0;
}
header > h1 {
    margin: 0 90px 0 110px;
    line-height: 40px;
    font-family: TAEBAEKmilkyway;
    font-size: 33px;
    float: left;
}


#map {
    width: 394px;
    height: 394px;
    margin: 101px 10px 0 10px;
    background-color: royalblue;
}


#side_bar {
    float: left;
    border: none;
    margin: 5px 15px;
}
#side_bar > div {
    width: 30px;
    height: 30px;
    background-color: royalblue;
}


.bottom_bar {
    background-color: bisque;
    position: fixed;
    top: 786px;
    left: 0;
    right: 0;
    height: 110px;
    float: left;
}
.bottom_bar > button {
    margin: 23px 0 0 6%;
    border: none;
    
    height: 44px;
    border-radius: 150px;
    padding: 0 15px;
    background-color: rebeccapurple;
}
button > div {
    height: 44px;
    line-height: 44px;
    float: left;
}
.hi1 {
    display: none;
}
