#header {
    width: 330px;
    height: 40px;
    margin: 60px 0 10% 10%;
    float: left;
}
    
#header > h1 {
    margin: 0 20% 0 20%;
    line-height: 40px;
    font-family: TAEBAEKmilkyway;
    font-size: 33px;
    float: left;
}
    
#map {
    width: 394px;
    height: 400px;
    margin: 10% 10px 0 10px;
    background-color: #EFEFEF;
}
    
#side_bar {
    float: left;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #4169e1;
    margin: 5px 0;
}
    
#sideMenu {
    display: none;
    position: fixed;
    top : 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: white;
    z-index: 100;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 10px #dddddd;
}
#sideMenu > ul {
    list-style-type: none;
}
#sideMenuLogo {
    width: 100%;
    height: 100px;
    position: relative;
}
#sideMenu > div > h2 {
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -65px;
}
#sideMenu hr {
    border: 1px solid lightgray;
    width: 80%;
    margin: 0 auto;
}
#sideMenu li {
    width: 80%;
    height: 45px;
    margin: 10px 10%;
    border-radius: 10px;
    background-color: #EFEFEF;
}
#sideMenu img {
    width: 25px; 
    height: 25px;
    margin: 10px 10px; 
    float: left;
}
#sideMenu li div {
    line-height: 45px;
}
.textRight {
    text-align: right;
    margin: 0 10% 0 0;
    font-size: 14pt;
}
#sideMenuButton {
    width: 80%;
    height: 35px;
    background-color: #EFEFEF;
    border-radius: 50px;
    margin: 0 10%;
}
#zoomOut {
    width: 50%;
    height: 29px;
    background-color: #4169e1;
    color: white;
    border: none;
    border-radius: 50px;
    position: relative;
    left: 2%;
    top: 3px;
    z-index: 102;
    font-size: 12pt;
}
#zoomIn {
    width: 50%;
    height: 29px;
    background-color: #EFEFEF;
    border: none;
    border-radius: 50px;
    position: relative;
    left: 48%;
    bottom: 26px;
    z-index: 101;
}
    
.bottom_bar {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #dddddd;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    float: left;
    z-index: 50;
}
.bottom_bar > button {
    margin: 23px 0 0 4.65%;
    border: none;
    display: block;
    float: left;
    height: 44px;
    border-radius: 150px;
    padding: 0 15px;
}
button > div {
    height: 44px;
    line-height: 44px;
    float: right;
    width: 60px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
#subway {
    background-color: #4169e1;
}
.hi1 {
    display: none;
}
    
#wall { 
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(62, 58, 99, 0.201);
    z-index: 90;
}
    
#webMenu { /* 여기는 웹페이지 메뉴 안보이게 하는곳 */
    display: none;
}