#Web{
    display: none;
    }
#logoFixed {
    width: 302px;
    height: 100px;
    margin: 0 auto;
    z-index: 90;
}

#header {
    height: 40px;
    float: left;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 15%;
}

#map{
    width: 100%;
    height: 400px;
    background-color: #EFEFEF;
    float: left;
}

#side_bar {
    float: left;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #4169e1;
    border-radius: 5px;
    margin: 5px 15px;
}
/* 엘리베이터, 휠체어리프트 버튼 */
#busBut {
    position: relative; 
    height: 36px; 
    width: 240px; 
    border-radius: 50px; 
    background-color: #EFEFEF; 
    box-shadow: 0 0 5px 2px #e6e6e6;
    margin: 0 auto;
    z-index: 29;
}
#busBut1 {
    position: relative; 
    width: 120px; 
    height: 30px; 
    top: 3px; 
    left: 3px;
    border-radius: 50px; 
    z-index: 31;
    
    border: none;
}
#busBut2 {
    position: relative; 
    width: 120px; 
    height: 30px; 
    bottom: 27px;
    left: 117px;
    border-radius: 50px; 
    z-index: 30;
    
    
    border: none;
}

#searchBus {
    width: 70%;
    height: 2.5rem;
    border-radius: 5px;
    padding: 0 3%;
    box-shadow: 0 0 5px #d0d0d0;
    border: none;
    background: #fff;
    font-size: 1rem;
    float: left;
    margin: 0 3% 0 10px;
    font-family: TAEBAEKmilkyway;
    font-weight: 700;
}
#searchBusButton {
    width: 15%;
    font-family: TAEBAEKmilkyway;
    height: 2.5rem;
    background: #4169e1;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    float: left;
}
input::placeholder {
    font-size: 1rem;
}
  
mark {
    background: #fffc99d6;
}
#searchfind{
    width: 100%;
    float: left;
}
#searchFindAll{
    margin-left: 3%; 
    margin-top: 4%;
}
.autoWidth {
    float: left;
    width: 70%;
    height: 100px;
    margin: 3px 0 0 5%;
   
}


/* 사이드 메뉴바 */
#sideMenu {
    display: none;
    position: fixed;
    top : 0;
    right: 0;
    bottom: 0;
    width: 60%;
    background-color: white;
    z-index: 100;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 10px #dddddd;
}
#sideMenuLogo {
    width: 100%;
    height: 100px;
    position: relative;
}
#sideMenuLogo h2 {
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -65px;
}
#sideMenu hr {
    border: 1px solid lightgray;
    width: 80%;
    margin: 0 auto;
}

#sideMenu > ul {
    list-style-type: none;
}
#sideMenu li {
    width: 80%;
    height: 45px;
    margin: 15px 10%;
    border-radius: 10px;
    background-color: #EFEFEF;
}
#sideMenu img {
    width: 25px; 
    height: 25px;
    margin: 10px 10px; 
    float: left;
}
#sideMenu li div {
    line-height: 45px;
}
.textRight {
    text-align: right;
    margin: 0 10% 0 0;
    font-size: 14pt;
}
/*
#bottom_button {
    position: fixed;
    bottom: 60px;
    left: 50%;
    right: 0;
}
*/
#sideMenuButton {
    width: 80%;
    height: 35px;
    background-color: #EFEFEF;
    border-radius: 50px;
    margin: 0 10%;
}
#zoomOut {
    width: 50%;
    height: 29px;
    background-color: #4169e1;
    color: white;
    border: none;
    border-radius: 50px;
    position: relative;
    left: 2%;
    top: 3px;
    z-index: 102;
    font-size: 12pt;
}
#zoomIn {
    width: 50%;     
    height: 29px;
    background-color: #EFEFEF;
    border: none;
    border-radius: 50px;
    position: relative;
    left: 48%;
    bottom: 26px;
    z-index: 101;
}
#wall { 
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(62, 58, 99, 0.201);
    z-index: 99;
}


/* 하단바 */
.bottom_bar {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #dddddd;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    z-index: 50;
}
#bottom_bars {
    margin: 20px auto;
    width: 320px;
    height: 44px;
}
.bottom_bar button {
    background-color: white;
    border: none;
    display: block;
    float: left;
    /* width: 100%; */
    height: 44px;
    border-radius: 50px;
    padding: 0 5px;
    margin: 0 30%;
}
.bottom_bar img {
    width: 24px; 
    height: 24px; 
    float: left; 
    margin: 10px 5px; 
    opacity: 50%; 
}
button > div {
    display: none;
    height: 44px;
    line-height: 44px;
    float: right;
    width: 50px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

/* 버스 버튼 */
#busButton button {
    background-color: #4169e1;
    border: none;
    display: block;
    float: left;
    width: 100%;
    height: 44px;
    border-radius: 50px;
    padding: 0 7px 0 3px;
    margin: 0;
}
#busButton img {
    width: 24px; 
    height: 24px; 
    float: left; 
    margin: 10px 0 10px 10px; 
    opacity: 100%; 
}
#busButton div {
    display: block;
    height: 44px;
    line-height: 44px;
    float: right;
    width: 50px;
    margin: 0 auto;
    text-align: center;
    color: white;
}