header
{  
    top: 0px;   left:0px;   width:1920px;   height: 60px;
    border: 1px solid;  opacity: 1;
    background:#f1f1f1 no-repeat padding-box;   background: var(--unnamed-color-f1f1f1) 0% 0% no-repeat padding-box;
    text-align: left;   letter-spacing: 0px;
    
    
    
}
ul
{   color:#000000; padding-left: 330px;    padding-right: 330px;
    margin:auto;
    list-style: none;
}
li
{   padding-right: 50px;
    display: inline-block;   
}
a
{
    text-decoration-line: none;
    color: #000000;
}
body
{   margin: 0px;
    top:0px;    left: 0px;  width: 1920px;  height: 2160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
nav
{
padding-left:760px; padding-right: 761px;  width: 450px;
top: 130px; left: 760px;     
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-48)/var(--unnamed-line-spacing-59) var(--unnamed-font-family-suite);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
text-align: left;
font: normal normal 300 40px/59px SUITE;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
section div:nth-child(1)
{   border: 1px solid  black;
    top: 260px; left: 0px;  width: 1920px;  height: 400px;
    background: black;
    opacity: 1;
}
section div:nth-child(2)
{
    height: 30px;  width: 1920px;  top:660px;    left: 0px;
    background-color: #F1F1F1;
    border: 1px solid  black;
}
section div:nth-child(3)
{
    height: 400px;  width: 1920px;  top:690px;    left: 0px;
    background-color: #F1F1F1;
    border: 1px solid  black;
}
section div:nth-child(4)
{
    height: 30px;  width: 1920px;  top:1090px;    left: 0px;
    background-color: #F1F1F1;
    border: 1px solid  black;
}
section div:nth-child(5)
{
    height: 400px;  width: 1920px;  top:1120px;    left: 0px;
    background-color: #F1F1F1;
    border: 1px solid  black;
}
section div:nth-child(6)
{
    height: 30px;  width: 1920px;  top:1520px;    left: 0px;
    background-color: #F1F1F1;
    border: 1px solid  black;
}
section div:nth-child(7)
{
    height: 400px;  width: 1920px;  top:1550px;    left: 0px;
    background-color: #F1F1F1;
    border: 1px solid  black;
}
section div:nth-child(8)
{
    height: 70px;  width: 1920px;  top:1950px;    left: 0px;
    background-color: white;
    border: 1px solid  black;
}

footer  div:nth-child(1)
{
top: 2020px;    left: 810px;    width:1920px;   height: 151px;
border: 1px solid black;  opacity: 1;
background:#f1f1f1 no-repeat padding-box;   background: var(--unnamed-color-f1f1f1) 0% 0% no-repeat padding-box;
line-height: 151px;  text-align:center;
}
footer  div:nth-child(2)
{   
    top: 2100px;    left: 0px;  width: 1920px;  height: 60px;
    border: 1px solid black;  opacity: 1;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    line-height: 60px;
}
footer > ul
{
    padding-left: 328px;    padding-right: 328px;
}

