#moblie {
    display: none;
}

#Web {
    width: 1180px;
    height: auto;
    background-color: white;
}
#headerWeb {   
    width:100%;  
    height: 60px;
    border: 0px solid;
    background-color: #e3e7f0;   
    text-align: left;  
    float: left;
    /* 상단 가온 박스 */
}
ul {  
    width: 100%;
    color:#000000; 
    list-style: none;
    /* ul 태그 안 내용 한줄로 표기 */
}

#headerWeb li {   
    font-size: 14pt;
    font-weight: 600;
    text-align: center;
    display: block;
    cursor: pointer;
    line-height: 50px;
    width: 250px;
    height: 50px;
    float: left;
    margin: 5px 0;
     /* header 글자 사이 간격 */
}
#headerWeb li:hover {
    background-color: #979fb6;
}

a {
    text-decoration-line: none;
    color: #000000;
    /* ul 안에 하이퍼링크 줄 제거 및 색깔 고정*/
}

body {   
    margin: 0 auto;
    width: 1180px; 
    background: #d2ebff;
    /* 몸통 부분 크기 및 배경 이미지 */
}

#nav {   
    float:left;
    width: 100%; 
    text-align: center;
    font-family: 'SUITE', sans-serif;
    font-size: 48px;
    line-height: 50px;
    background-color: white;    
}

.imgcenter{
    width: 100%;
}
