

header
{   
    top: 0px;   left:0px;   width:1920px;   height: 60px;
    border: 1px solid;  opacity: 1;
    background:#f1f1f1 no-repeat padding-box;   background: var(--unnamed-color-f1f1f1) 0% 0% no-repeat padding-box;
    text-align: left;   letter-spacing: 0px;
    color:#000000; padding-left: 330px;    padding-right: 330px;
}
ul
{   
    margin:auto;
    list-style: none;
}
li
{   padding-right: 50px;
    display: inline-block;   
}
a
{
    text-decoration-line: none;
    color: #000000;
}
