

header
{   padding-left: 200px;
    top: 0px;      width:1520px;   height: 60px;
    border: 1px solid;  opacity: 1;
    background:#f1f1f1 no-repeat padding-box;   background: var(--unnamed-color-f1f1f1) 0% 0% no-repeat padding-box;
    text-align: left;   letter-spacing: 0px;
    /* 상단 가온 박스 */
    
}
ul
{    color:#000000; padding-left: 330px;    padding-right: 330px;
    margin:auto;
    list-style: none;
    /* ul 태그 안 내용 한줄로 표기 */
}
li
{   
    padding-right: 80px;
    display: inline-block;  
     /* header 글자 사이 간격 */
}

a
{
    text-decoration-line: none;
    color: #000000;
    /* ul 안에 하이퍼링크 줄 제거 및 색깔 고정*/
}
body
{   
    padding-left: 200px;    padding-right: 200px;
    margin: 0px;
    top:0px;    left: 0px;  width: 1720px;  height: 2160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    /* 몸통 부분 크기 및 배경 이미지 */
}
section
{   top: 115px; left: 0px;  width: 1720px;  height: 965px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    /* 첫번째 섹션 검정 부분 */
}

nav
{
    height: 55px;   width: 1920px; 

}
footer  div:nth-child(1)
{   position: absolute;
top: 2020px;    left: 0x;    width:1720px;   height: 80px;
border: 1px solid black;  opacity: 1;
background:#f1f1f1 no-repeat padding-box;   background: var(--unnamed-color-f1f1f1) 0% 0% no-repeat padding-box;
line-height: 80px;  text-align:center;
}
footer  div:nth-child(2)
{   position: absolute;
    top: 2100px;    left: 200px;  width: 1720px;  height: 60px;
    border: 1px solid black;  opacity: 1;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    line-height: 60px;
}
section > div
{   position: absolute;
    right: 395px;    top:442px;  left: 464px;   width: 1300px;  height: 312px;
    text-align: left;   font: normal normal normal 250px/312px SUITE;
    letter-spacing: 0px;    color: #FFFFFF; opacity: 1;

}